/* Reset et styles de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: #000;
  color: #d1d5db;
}

.custom-cursor-active, 
.custom-cursor-active * {
  cursor: none !important;
}

/* Styles pour les animations */
.will-change-transform {
  will-change: transform;
}

/* Optimisations pour les performances */
[style*="transform"] {
  will-change: transform;
}

[style*="opacity"] {
  will-change: opacity;
}
